/* Article component */

.Article__title {
  font-weight: bold;
}

.Article__date {
  font-size: 0.85em;
}

.Article__author {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Article__body {
  padding-left: 20px;
}
